.carousel-container {
    text-align: center;
    margin: 20px 0;
  }
  
  .carousel-item {
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 0 auto;
    width: 80%;
  }
  
  .carousel-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .dashboard-buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .create-presentation-form {
    margin-top: 20px;
  }
  
  .create-presentation-form input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
  }
  
  /* Reduce the default font size for the entire website */
body, button, input, textarea {
    font-size: 14px; /* Adjust this value to control the overall font size */
    font-family: 'Arial', sans-serif; /* Ensure a consistent font family */
  }
  
  h1 {
    font-size: 2em; /* Adjust header sizes as needed */
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  h3 {
    font-size: 1.25em;
  }
  
  label {
    font-size: 1em;
  }
  